<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.macv.wheeldemo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.macv.wheeldemo.StartActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CategoryComponentActivity"
            android:label="@string/category_component"
            android:screenOrientation="portrait" />

        <activity
            android:name=".AchievementComponentActivity"
            android:label="@string/achievement_component"
            android:screenOrientation="portrait" />

        <activity
            android:name=".CountDownComponentActivity"
            android:label="@string/countdown_component"
            android:screenOrientation="portrait" />

        <activity
            android:name=".SweepStakesComponentActivity"
            android:label="@string/sweepstakes_component"
            android:screenOrientation="portrait" />

        <activity
            android:name=".SpinWheelCardComponentActivity"
            android:label="@string/spin_the_wheel_component"
            android:screenOrientation="portrait" />
    </application>

</manifest>